<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center><h3>Selamat Datang di Bioskop API</h3></center>
    <center>Ini merupakan API yang menggunakan studi kasus bioskop beserta transaksi didalamnya, seperti pembelian tiket, jadwal pemutaran film dan lain sebagainya</center>
    <center>Silahkan gunakan API ini dengan bijak, best regards :)</center>
    <br>
    <center><a href="/docs">Read documentation</a></center>
</body>
</html>